extends layout

block content

  - let cakes = results
  h1= title
  - let create = `dispatch(\"/cakes/create\")`
  button.btn( class="btn-info", onclick= create) Create details for cakes
  div(class="container-fluid")
  div(class="row m-1")
    each cake in cakes
      - let destination = `dispatch(\"/cakes/update?id=${cake._id}\")`
      - let detail = `dispatch(\"/cakes/detail/?id=${cake._id}")`
      - let deletecakes = `dispatch(\"/cakes/delete/?id=${cake._id}")`      
      div(class="row-sm-2", class="m-1") cakes #{cake.cake_Name} (#{cake.cake_flavour}) is #{cake.cost}
        button.btn( class="btn-warning m1-1", onclick= destination) Update
        button.btn( class="btn-primary", onclick= detail) Details
        button.btn( class="btn-dark", onclick= deletecakes) Delete

  script.
    function dispatch(path){
      window.location.href=path
    }