extends layout

block content
 h1= title
 if (toShow == null)
  h2 No instance to delete
 else
  - let cakesid = toShow._id
  - let cake_Name = toShow.cake_Name
  - let cakecost = toShow.cost
  - let cake_flavour = toShow.cake_flavour
  - let actionid = "/resource/cakes/" + cakesid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='cakesAttr mr-3') cakes ID is:
    div #{cakesid}
   div.row
    div(class='cakesAttr mr-3') cake_Name is:
    div #{cake_Name}
   div.row
    div(class='cakesAttr mr-3') cake_flavour is:
    div #{cake_flavour}
   div.row
    div(class='cakesAttr mr-3') cakes Cost is:
    div #{cakescost}

  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

 script.
  function cancel() {
   // Go back to the home page for the cakes collection
   window.location.href='/cakes'
  }
 script.
  function deleteOnid() {
   console.log("starting delete")
   // delete first
   fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Delete succeded")
    window.location.href='/cakes'
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Delete failed " + error )
   });
  }
